/* Small phones 0-480px */

@media only screen and (max-width: 1200px) {
  h1 {
    
  
}

/* Small phones 0-480px */
@media only screen and (max-width: 1023px) {
}

/* Small phones 0-480px */
@media only screen and (max-width: 767) {
}

/* Small phones 0-480px */
@media only screen and (max-width: 480px) {
}

html {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  position: fixed;
  right: 640px;
  font-size: 30px;
  top: 390px;
  border-bottom: 3px, solid, blue;
}

/*
.tijgerdiv {
  background: url(spreekbeurt-tijger.jpg);
  width: 50%;
  position: absolute;
  left: 350px;
  top: 0px;
  height: 50%;
}


#backgroundtiger {
  background-image: url(spreekbeurt-tijger.jpg);
  background-repeat: no-repeat;
  background-size: 1500px;
  position: absolute;
  top: 0;
  left: 25px;
  width: 50px;
  height: 50%;
}

#backgroundwit {
  position: fixed;
  top: 55%;
  width: 100%;
  left: 0px;
}
*/

ul {
  position: absolute;
  top: 430px;
  left: 500px;
  font-size: 20px;
  list-style: none;
  break-after: column;
}

.borders {
  border: 3px solid black;
  -webkit-text-stroke: 2px black;
  font-family: "Times New Roman", Times, serif;
}
