* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  height: 150px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  background-color: red;
  padding: 30px;
  margin: 20px;
}
