h1 {
  font-size: 50px;
  font-family: sans-serif;
  color: darkcyan;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

h2 {
  font-size: 30px;
  color: darkcyan;
}

ul {
  font-size: 25px;
  font-family: sans-serif;
  color: darkcyan;
  margin-left: 0px;
}

#aarde {
  color: darkcyan;
}

#industry {
  color: white;
  margin-right: 75px;
}

body {
  background-color: black;
}

#list {
  color: white;
  list-style: none;
}

#earth-where {
  margin-right: 100px;
}

#Heat,
#War,
#Air {
  margin-right: 40px;
}

#Heat {
  color: orange;
}
#War {
  color: darkred;
}
#Air {
  color: cornflowerblue;
}
